PORT=8000
MONGODB_URI=mongodb+srv://ranakrishnnn_db_user:12345@cluster0.vnup3in.mongodb.net/mydatabase?retryWrites=true&w=majority&appName=Cluster0
CORS_ORIGIN = *;
ACCESS_TOKEN_SECRET = chai-aur-code
ACCESS_TOKEN_EXPIRY = 1d;
REFRESH_TOKEN_SECRET = wwwww
REFERSH_TOKEN_EXPIRY = 10d